@import url('https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
* {
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #AF2A1E;
}

.wrapper {
  margin: 0 170px;
  padding-top: 1px;
  min-width: 500px;
  background-color: #FEF6D1;
  border-radius: 30px;
  height: 100%;
  overflow: hidden;

  .header {
    position: relative;
    margin: 0 auto;
    margin-top: 31px;
    display: flex;

    @media screen and (max-width: 997px) {
      display: block;
      flex-flow: column wrap;
    }

    .logo {
      font-family: 'Send Flowers', cursive;
      text-shadow: 1px 1px #cfc0c0;
      position: absolute;
      display: flex;
      align-items: center;
      top: -30px;
      left: 100px;
      width: 300px;
      height: 100px;

      img {
        margin-right: 15px;
        width: 50px;
        height: 50px;
      }
    }

    .search {
      display: flex;
      position: absolute;
      align-items: center;
      right: 40%;
      background-color: #FFFFFF;
      padding-left: 30px;
      width: 564px;
      height: 70px;
      border-radius: 40px;
      box-shadow: 1px 1px 1px 1px #ccc inset;

      input[type="text"] {
        color: #908C8C;
        margin-left: 8px;
        border: none;
        outline: none;
      }

      img {
        width: 20px;
        height: 20px;
      }
    }

    .currentPayment {
      background-color: #FFFFFF;
      display: flex;
      position: absolute;
      right: 50px;
      height: 55px;
      border-radius: 40px;
      width: 200px;
      box-shadow: 5px 5px #cfc0c0;

      #fst {
        border-radius: 40px 0 0 40px;
        width: 50%;
        border-left: white;
        border-top: white;
        border-bottom: white;
        background-color: #FFFFFF;
      }

      #sec {
        border-radius: 0 40px 30px 0;
        width: 50%;
        background-color: #FFFFFF;
        border: none;
      }
    }
  }

  .sortings {
    display: flex;
    border-top: 2px solid black;
    margin-top: 140px;
    border-bottom: 2px solid black;
    background-color: #F9E9A2;
    height: 200px;
    margin-bottom: 50px;
    border-radius: 0 20px;
    font-size: 20px;


    #left {
      width: 510px;
      border-right: 1px dashed rgba(0, 0, 0, 0.5);
      padding-right: 40px;
      padding-top: 20px;

      li:first-child {
        margin: auto;
        text-align: center;
        width: 160px;
        color: white;
        background-color: black;
        margin-bottom: 20px;
        height: 25px;
        border-radius: 5px;
      }

      li:nth-child(2) {
        margin: auto;
        text-align: center;
        color: white;
        background: green;
        margin-bottom: 20px;
        width: 160px;
        height: 25px;
        border-radius: 5px;
      }

      li:last-child {
        margin: auto;
        text-align: center;
        background-color: #AF2A1E;
        color: white;
        margin-bottom: 20px;
        width: 160px;
        height: 25px;
        border-radius: 5px;
      }


    }

    #center {
      padding-top: 20px;
      padding-left: 170px;
      height: 155px;
      width: 510px;
      border-right: 1px dashed rgba(0, 0, 0, 0.5);
      margin-top: 20px;

      li:first-child {
        margin-bottom: 20px;
      }
      input {
        height: 44px;
        width: 102px;
        margin: 5px;
        border-radius: 20px;
        background-color: #FEF6D1;
        box-shadow: 1px 1px 1px 1px #000 inset;
      }
    }

    #right {
      width: 510px;
      margin-top: 20px;
      padding-right: 40px;
    }
  }

}

.menu {
  width: 1547px;
  margin-left: 20px;

  .card {
    display: inline-block;
    margin-right: 100px;
    margin-bottom: 50px;
    position: relative;
    border: 1px solid black;
    width: 277px;
    height: 315px;
    z-index: 1;
    border: 1px solid black;
    border-radius: 12%;
    box-shadow: inset 0px 0px 5px 10px rgba(0,0,0,0.1);
    font-family: 'Forum', cursive;

    .pizzaImage {
      position: absolute;
      margin-top: 15px;
      left: 9%;
      z-index: 1;
      width: 230px;
      height: 230px;
    }
    .pizzaImage:hover{
      margin-top: 5px;
    }
    .info{
      margin-left: 15px;
      margin-top:10px;
      cursor: pointer;
    }

    .aboutPizza {
      position: absolute;
      text-align: center;
      border-top: 1px solid black;
      background-color: #FEF6D1;
      border: 1px solid black;
      border-bottom: none;
      border-radius: 12%;
      margin-top: 110px;
      width: 100%;
      height: 204px;
      z-index: 2;


      .buttons {
        background-color: #FFC377;
        box-shadow: inset 0px 3px 1px 1px rgba(0,0,0,0.1);
      }

      button {
        background-color: transparent;
        font-size: 2.5vh;
        border: none;
        color: black;
        width: 50%;
        cursor: pointer;
      }
      .first {
        border-top: 1px solid black;
        margin-bottom: 10px;
        button {
          width: 33.3%;
        }
      }
      .second {
        display: flex;
        border-bottom: 1px solid black;
        align-items: center;
        button {
          margin: 0;
          padding: -2px;
          font-size: 2.05vh ;
        }
      }
      h2 {
        margin: auto;
        margin-top: 15px;
        width: 50%;
        height: 50px;
      }
    }
  }
}

li {
  list-style-type: none;
}

.pizzaBackground {
  .leftSide {
    z-index: -1;
    position: absolute;
    left: -120px;
    display: flex;
    flex-flow: column wrap;
    float: left;
    img {
      margin-bottom: 20px;
    }
  }
  .rightSide {
    z-index: -1;
    position: absolute;
    right: -120px;
    display: flex;
    flex-flow: column wrap;
    float: right;
    img {
      margin-bottom: 20px;
    }
  }
}

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;

  .modal__content {
    padding: 20px;
    border-radius: 12px;
    background-color: aliceblue;
    height: 500px;
    width: 700px;
    z-index: 100;
  }

  .modal.active {
    display: none;
  }
}

